
.container {
    display: flex;
    height: 100dvh;
    width: 100dvw;
  }
  
  .option {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  #dineIn {
    background-color: #f5e0c3; /* '매장에서 먹고가기' 배경색 */
  }
  
  #takeOut {
    background-color: #8ea392; /* '포장하기' 배경색 */
  }
  
  .icon {
    margin-bottom: 10dvh;
  }
  .homeicon{
    width: 30dvw;
    height: auto;
  }
  
  .text1 {
    font-size: 5dvw;
    font-weight: bold;
    color: #8C5115; /* 텍스트 색상 */
    line-height: 1.2;
  }
  
  .text2 {
    font-size: 5dvw;
    font-weight: bold;
    color: #182723; /* 텍스트 색상 */
  }
  

  
  /* @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .option {
      width: 100%;
      height: 50%;
    }
  } */