.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.startbutton {
  margin-top: 20px; /* Optional: 이미지와 버튼 사이의 간격 조절 */
  padding: 10px 20px;
  background-color: #4F7E68; /* Optional: 배경 색상 */
  color: white; /* Optional: 텍스트 색상 */
  border: none;
  border-radius: 10px; /* Optional: 모서리 둥글게 */
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* 링크 밑줄 제거 */
}

