.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.startbutton {
  margin-top: 20px; /* Optional: 이미지와 버튼 사이의 간격 조절 */
  padding: 10px 20px;
  background-color: #4F7E68; /* Optional: 배경 색상 */
  color: white; /* Optional: 텍스트 색상 */
  border: none;
  border-radius: 10px; /* Optional: 모서리 둥글게 */
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* 링크 밑줄 제거 */
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.option {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-decoration: none; /* 링크 밑줄 제거 */
}

#dineIn {
  background-color: #f5e0c3; /* '매장에서 먹고가기' 배경색 */
}

#takeOut {
  background-color: #8ea392; /* '포장하기' 배경색 */
}

.icon {
  margin-bottom: 10dvh;
}
.homeicon{
  width: 35dvw;
}

.text1 {
  font-size: 5dvw;
  font-weight: bold;
  color: #8C5115; /* 텍스트 색상 */
}

.text2 {
  font-size: 5dvw;
  font-weight: bold;
  color: #182723; /* 텍스트 색상 */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .option {
    width: 100%;
    height: 50%;
  }
}